@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book-Italic.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book-Italic.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book-Italic.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book-Italic.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Book-Italic.svg#GothamNarrow-Book-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Medium.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Medium.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Medium.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Medium.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiloOT';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT.svg#MiloOT') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiloOT';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Medi.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Medi.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Medi.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Medi.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Medi.svg#MiloOT-Medi') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiloOT';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Bold.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Bold.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Bold.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Bold.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/MiloOT-Bold.svg#MiloOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/icomoon.eot');
  src: url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/icomoon.eot') format('embedded-opentype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/icomoon.woff') format('woff'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/icomoon.ttf') format('truetype'),
       url('https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

@mixin gotham ($weight){
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: $weight;
}

@mixin miloot ($weight) {
  font-family: 'miloot', 'Trebuchet MS', Arial, sans-serif;
  font-weight: $weight;
}