.rodape {
  background: #000;
  margin-bottom: 0 !important;
	@media screen and (min-width: 1024px){
    /* Fix to Desk */
    background: none;
    /* Fix to Desk */
		margin-top: 0;
		text-transform: none;
		font-size: 12px;
	}
	&_breadcrumbs {
    display: none;
    @media screen and (min-width: 1024px){
      /* Fix to Desk */
      display: block;
      /* Fix to Desk */
      color: #999;
      background-color: #fff;
      border-bottom: 1px solid #f3f1ee;
      padding: 10px 0;
    }
    &-nav {
      @media screen and (min-width: 1024px){
        display: block;
        margin: 0 auto;
        line-height: 15px;
        max-width: 1028px;
        font-weight: 700;
        font-family: TrebuchetMS-Bold,Tahoma,sans-serif;
        font-size: 13px;
      }
      a {
        @media screen and (min-width: 1024px){
          font-style: italic;
          font-family: TrebuchetMS-Italic,Tahoma,sans-serif;
          text-decoration: none;
          color: #BD262C;
        }
      }
    }
  }
  .social {
    display: none;
    @media screen and (min-width: 1024px){
      /* Fix to Desk */
      display: block;
      /* Fix to Desk */
      clear: both;
      background-color: #fff;
      border-bottom: 1px solid #f3f1ee;
    }
    ul {
      @media screen and (min-width: 1024px){
        height: 51px;
        line-height: 0;
        text-align: center;
        list-style: none;
      }
      li {
        @media screen and (min-width: 1024px){
          display: inline-block;
          width: 12.5%;
        }
        a {
          @media screen and (min-width: 1024px){
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 50px;
            transition: none;
            font: 0/0!important;
            color: transparent!important;
          }
        }
      }
    }
  }
  .cilo {
    display: none;
    @media screen and (min-width: 1024px){
      /* Fix to Desk */
      display: block;
      /* Fix to Desk */
      background-color: #fff;
      overflow: hidden;
      padding: 50px 0;
      width: 100%;
    }
    /* Fonte */
    font-family: 'Lucida Sans Unicode','Lucida Grande',Tahoma,Geneva,sans-serif;
    .vcard {
      @media screen and (min-width: 1024px){
        margin-right: 50px;
        width: 355px;
      }
      .url {
        @media screen and (min-width: 1024px){
          display: none;
        }
      }
      .org {
        @media screen and (min-width: 1024px){
          @include ico(-837px, -288px, 157px, 64px);
          margin: 0 0 19px;
          font: 0/0 a!important;
          color: transparent!important;
        }
      }
      .copy {
        @media screen and (min-width: 1024px){
          margin: 0 0 30px;
          color: #888;
        }
        em {
          @media screen and (min-width: 1024px){
            font-style: normal;
            display: block;
          }
        }
      }
      p {
        @media screen and (min-width: 1024px){
          margin-left: 0;
          color: #888;
        }
      }
      ul {
        @media screen and (min-width: 1024px){
          list-style: none;
          width: 100%;
          margin: 20px 0 0;
          padding: 0;
        }
        li {
          @media screen and (min-width: 1024px){
            display: inline-block;
            width: 49%;
            font-size:1.09em;
          }
          a {
            color: #151515;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    dl {
      @media screen and (min-width: 1024px){
        width: 150px;
        margin-right: 61px;
      }
      dt {
        @media screen and (min-width: 1024px){
          margin-bottom: 25px;
          font-size: 1.33em;
          text-transform: uppercase;
          color: #acacac;
          /* Fonte */
          font-weight: lighter;
          font-family: 'Gillsans Light','Trebuchet MS',Arial,sans-serif;
        }
      }
      dd {
        ul {
          @media screen and (min-width: 1024px){
            list-style: none;
          }
          li {
            @media screen and (min-width: 1024px){
              margin-bottom: 15px;
              /* Fix */
              letter-spacing: 0;
            }
          }
        }
      }
      &.links-clientes {
        @media screen and (min-width: 1024px){
          margin-right: 0;
        }
      }
    }
  }
  .canais-de-contato {
    background-color: #000;
    @media screen and (min-width: 1024px){
      min-height: 225px;
      background: url(../../images/rodape-bg.jpg) left 0 no-repeat #000;
    }
    .coluna1 {
      @media screen and (min-width: 1024px){
        float: left;
        mrgin-right: 20px;
        width: 365px;
      }
      .vendas-telefone {
        display: none;
        @media screen and (min-width: 1024px){
          /* Fix to Desk */
          display: block;
          /* Fix to Desk */
          line-height: 15px;
          padding-top: 35px;
          font-size: 1.33em;
          text-transform: uppercase;
          color: #fff;
          /* Fonte */
          font-weight: lighter;
          font-family: 'Gillsans Light','Trebuchet MS',Arial,sans-serif;
        }
        span {
          display: block;
        }
        strong {
          color: #8c734a;
          padding-left: 70px;
          font-weight: 400;
          font-size: 1.87em;
        }
      }
      ul {
        display: none;
        @media screen and (min-width: 1024px){
          /* Fix to Desk */
          display: block;
          /* Fix to Desk */
          padding-top: 30px;
          width: 425px;
          list-style: none;
        }
        li {
          float: left;
          margin-bottom: 12px;
          a {
            font-size: 1.033em;
            color: #a9a9a9;
            display: block;
            height: 20px;
            line-height: 20px;
            text-transform: uppercase;
            vertial-align: top;
            &:nth-child(odd) {
              width: 210px;
            }
          }
        }
      }
    }
    .coluna2 {
      width: 100%;
      padding: 35px 18px 0 18px;
      @media screen and (min-width: 1024px){
        float: right;
        width: 560px;
        padding-top: 27px;
        padding-left: 20px;
      }
      p {
        width: 260px;
        margin-bottom: 32px;
        font-size: 1em;
        color: #fff;
        /* Fonte */
        font-weight: lighter;
        font-family: 'Gillsans Light','Trebuchet MS',Arial,sans-serif;
        @media screen and (min-width: 1024px){
          /* Fix to Desk */
          width: 100%;
          /* Fix to Desk */
          margin-bottom: 26px;
          font-size: 1.66em;
        }
      }
      fieldset {
        width: 100%;
        @media screen and (min-width: 1024px){
          float: left;
          clear: both;
          width: 600px;
        }
        ol {
          padding: 0;
          margin: 0;
          li {
            width: 100%;
            margin-bottom: 35px;
            @media screen and (min-width: 1024px){
              float: left;
              margin-right: 5px;
              /* Fix to Desk */
              margin-bottom: 0;
              width: inherit;
              /* Fix to Desk */
            }
            input {
              width: 100%;
              height: inherit;
              background: transparent;
              border: 0;
              border-bottom: 1px solid #fff;
              border-radius: 0;
              font-size: 1em;
              line-height: inherit;
              color: #fff;
              text-transform: uppercase;
              text-indent: inherit;
              @media screen and (min-width: 1024px){
                width: 210px;
                height: 41px;
                background: #fff;
                line-height: 41px;
                text-indent: 15px;
              }
            }
          }
        }
      }
      button {
        background-color: #8D7347;
        width: 100%;
        height: 47px;
        text-transform: uppercase;
        @media screen and (min-width: 1024px){
          background-color: $color_gold;
          width: 84px;
          height: 41px;
        }
      }
    }
    p {
      &.texto-legal-formularios {
        color: #7d7d7d!important;
        font-family: Gillsans,'Trebuchet MS',Arial,sans-serif!important;
        font-size: 12px!important;
        float: left;
        width: 100%;
        &.rodape {
          display: none;
          @media screen and (min-width: 1024px){
            /* Fix to Desk */
            display: block;
            /* Fix to Desk */
            margin: -10px 0 10px 0!important;
          }
        }
      }
      &.disclaimer {
        width: 100%;
        padding: 35px 20px;
        font-size: .5em;
        line-height: inherit;
        color: #B1B1B1;
        /* Fonte */
        font-family: 'Lucida Sans Unicode','Lucida Grande',Tahoma,Geneva,sans-serif;
        @media screen and (min-width: 1024px){
          color: #3e3e3e;
          clear: both;
          margin: 165px auto 0;
          padding: 17px 115px 0;
          border-top: 1px solid #272727;
          font-size: .91em;
          text-align: center;
        }
        a {
          display: block;
          font-size: 1.5em;
          margin-bottom: 12px;
          color: #fff;
          text-decoration: underline;
          @media screen and (min-width: 1024px){
            display: none;
          }
        }
      }
    }
  }
  .footer-mobile {
    &__infos {
      width: 100%;
      padding: 35px 20px 0 20px;
      @media screen and (min-width: 1024px){
        display: none;
      }
      .logo_rodape {
        width: 119px;
        height: 33px;
        margin: 17px 0;
        background: url(../../images/logo-cyrela-footer-luxo.svg) no-repeat;
        display: block;
        font: 0/0 a !important;
        color: transparent !important;
      }
      .infos-cyrela {
        p {
          margin: 0;
          font-size: .9em;
          color: #fff;
        }
        &__creci {
          line-height: 38px;
        }
      }
    }
    &__contatos {
      width: 100%;
      padding: 0 20px;
      @media screen and (min-width: 1024px){
        display: none;
      }
      &--item {
        margin-bottom: 25px;
        .infos-contato {
          color: #fff;
          h5 {
            vertical-align: middle;
            font-size: .9em;
            font-family: 'miloot', 'Trebuchet MS', Arial, sans-serif;
            font-weight: normal;
            span {
              font-size: 19px;
              margin-right: 10px;
              &.ico-icoe_footer_ {
                &telefone:before {
                  content: "\e908";
                }
                &whatsapp:before {
                  content: "\e909";
                }
                &chat:before {
                  content: "\e906";
                }
                &email:before {
                  content: "\e907";
                }
              }
            }
          }
        }
      }
    }
    &__redessociais {
      width: calc(100% - 40px);
      margin: 0 20px 30px 20px;
      border-top: 1px solid #C5C5C5;
      border-bottom: 1px solid #C5C5C5;
      @media screen and (min-width: 1024px){
        display: none;
      }
      &--item {
        display: inline-block;
        width: 23%;
        padding: 20px 0;
        font-size: 0;
        text-align: center;
        list-style: none;
        i {
          font-size: 20px;
          color: #fff;
          &.ico-icoe_{
            &facebook:before{
              content: "\e903";
            }
            &instagram:before{
              content: "\e90d";
            }
            &google:before{
              content: "\e90c";
            }
            &youtube:before{
              content: "\e916";
            }
          }
        }
      }
    }
  }
  form {
    ol,
    ul {
      list-style: none;
    }
    input,
    textarea {
      background-color: #fff;
      font-size: 1.25em;
      text-transform: uppercase;
      text-indent: 15px;
    }
    input {
      height: 41px;
      line-height: 41px;
    }
    button {
      background-color: #e03028;
      color: #fff;
      border: none;
    }
  }
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
dl {
  @media screen and (min-width: 1024px){
    marginn-top: 0;
    margin-bottom: 20px;
  }
}
dd {
  @media screen and (min-width: 1024px){
    margin-left: 0;
    line-height: 1.42857143;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
address {
  font-style: normal;
  margin: 0;
}
.layout-978 {
  width: 100%;
  @media screen and (min-width: 1024px){
    width: 978px;
    margin: 0 auto;
  }
}
.limites {
  @media screen and (min-width: 1024px){
    margin: 0 auto;
  }
}
.esquerda {
  //@media screen and (min-width: 1024px){
    float: left;
  //}
}
.icoe {
  display: inline-block;
  background: url(../../images/sprites.png) no-repeat;
  font: 0/0 a!important;
  color: transparent!important;
  &-light {
    background: url(../../images/sprites-light.png) no-repeat;
    background-repeat: no-repeat;
  }
  &-facebook {
    background-position: -95px -109px;
  }
  &-instagram {
    background-position: -335px -109px;
  }
  &-youtube {
    background-position: -457px -109px;
  }
  &-seta {
    width: 5px;
    height: 7px;
    background-position: -500px -489px;
    margin: 0 3px 0 0;
  }
  &-wire-chat {
    width: 20px;
    height: 20px;
    opacity: .8;
    vertical-align: bottom;
    background-position: -450px -378px;
  }
  &-wire-ligamos {
    width: 20px;
    height: 20px;
    opacity: .8;
    vertical-align: bottom;
    background-position: -450px -408px;
  }
  &-wire-email {
    width: 20px;
    height: 20px;
    opacity: .8;
    vertical-align: bottom;
    background-position: -420px -378px;
  }
  &-wire-whatsapp {
    width: 20px;
    height: 20px;
    opacity: .8;
    vertical-align: bottom;
    background: url(../../images/whatsapp-rodape.png) no-repeat;
  }
}

/* ico Mobile */
footer{
  [class^="ico-"], [class*=" ico-"] {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }  
}