.site-header{
	text-align: center;
	position: relative;
	@include breakpoint(horse) {
		height: 600px;
	}
	.title-wrapper {
		@include breakpoint(horse) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
		}
	}
	h1{
		font-size: 0;
	}
	h2, h3{
		font-size: 12px;
		color: $color_gray;
		letter-spacing: 3.33px;
		line-height: 24px;
		text-transform: uppercase;
		@include breakpoint(horse) {
			color: $color_white;
		}
	}
	h2{
		@include gotham(500);

	}
	h3{
		@include gotham(400);
		margin: 0 0 35px;
	}
	&_logos{
		vertical-align: bottom;
		padding-top: 20.2px;
		margin: 0px auto 34px;
		width: 62.5vw;
		@include breakpoint(horse) {
			position: absolute;
			top: 40px;
			left: 0;
			padding: 0;
			width: auto;
			z-index: 1;
		}
		i{
			display: inline-block;
			&:last-child{
				margin-left: 20.2px;
				@include breakpoint(horse) {
					margin-left: 32.9px;
				}
			}
		}
	}
	.ico-morro{
		margin-bottom: 20px;

	}
	&_video{
		position: relative;
		overflow: hidden;
		height: 320px;
		@include breakpoint(horse) {
			height: 600px;
		}
		img{
		    position: absolute;
			top: 0;
			left: 0;
			height: auto;
			min-height: 320px;
			width: 100%;
			min-width: 655px;
			max-width: none;

		    @include breakpoint(horse) {
				height: auto;
				min-height: 600px;
				width: 100%;
				top: 50%;
				left: 50%;
				transform:translate(-50%, -50%);
		    }
		}
		iframe{
			border:none;
			width: 100vw;
			height: 100vw;
			@include breakpoint(horse) {
		    	width: 100vw;
		    	height: 50vw;
		    	top: 0;
		    }
		}
		&-play{
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			i{
				margin-bottom: 17px;
			}
			p{
				@include miloot(400);
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 3.89px;
				text-transform: uppercase;
				width: 100vw;
			}
		}
	}

	.btn-wrapper{
		display: block;
		@include breakpoint(horse) {
			bottom: 40px;
			position: absolute;
			left: 50%;
			transform:translateX(-50%);
		}
	}


}