/* -----------------------------------*/
/* ------>>> Nav dots Styles <<<*----*/
/* -----------------------------------*/

.nav__dots-container{
    position: fixed;
    display: none;
    right: 50px;
    top: 0;
    width: 10px;
    height: 570px;
    z-index: 8;
}

@media screen and (min-width:767px){
    .nav__dots-container{
        display: block;
    }
}

.nav__dots{
    position: absolute;
    display: block;
    top: 230px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__dot{
    position: relative;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border:#FFF solid 1px;
    margin: 9px 0;
    box-sizing: border-box;
    opacity: .8;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav__dot.on{
    background: #FFF;
}

.nav__dot:hover{
    background: #FFF;
    opacity: 1;
}

.nav__dots.negative .nav__dot{
    border-color: rgba(109, 110, 113, 0.85);
}

.nav__dots.negative .nav__dot:hover{
    background: rgba(109, 110, 113, 1);
}

.nav__dots.negative .nav__dot.on{
    background: rgba(109, 110, 113, 0.85);
}

.arrow-down{
    position: absolute;
    display: none;
    width: 36px;
    height: 20px;
    left: 120px;
    bottom: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    opacity: .8;
    z-index: 5;
}

@media screen and (min-width:768px){
    .arrow-down{
        display: block;
    }
}

.arrow-down:hover{
    opacity: 1;
}

.arrow-down:before, .arrow-down:after{
    position: absolute;
    display: block;
    content: '';
    width: 22px;
    height: 2px;
    background: white;
    top: 9px;
    left: 0;
}

.arrow-down:before{
    transform: rotate(-45deg); 
    left: 15px;
}

.arrow-down:after{
    transform: rotate(45deg); 
}