.site-nav{
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 64px;
	z-index: 5;
	background-color: $color_gold;
	@include breakpoint(horse) {
		top: 0;
		right: 0;
		height: 210px;
		width: 177px;
	}
	&_list{
		margin: 0;
		padding: 0;
		height: 100%;
		li{
			padding: 0;
			display: inline-block;
			width: calc(25vw - 3px);
			height: 64px;
			border-left: 1px solid $color_black;
			text-align: center;
			padding-top: 10px;
			&:first-child{
				border: none;
			}
			@include breakpoint(horse) {
				width: 100%;
				height:calc(100% / 5);
				padding: 10px 0;
				text-align: right;
				border:none;
			}
			&:hover{
				@include breakpoint(horse) {
					background-color: $color_black;
					transition: 0.5s linear all;
				}
			}
			a{
				text-decoration: none;
				text-align: center;
				span{
					font-size: 12px;
					color: #fff;
					text-transform: uppercase;
					text-align: center;
					transition: all 0.3s linear;
					white-space: nowrap;
					@include breakpoint(horse) {
						font-size: 17px;
						font-family: times;
						padding: 15px;
					}
				}
				i{
					@include breakpoint(horse) {
						float: right;
					}
					&.ico{
						&-chat{
							@include navico(-491px, -15px, 25px, 21px);
						}
						&-whats{
							@include navico(-492px, -174px, 24px, 24px);
						}
						&-tel{
							@include navico(-493px, -54px, 22px, 22px);
						}
						&-email{
							@include navico(-491px, -96px, 25px, 19px);
						}
						&-simulador{
							@include navico(-493px, -135px, 22px, 22px);
						}
					}
				}
			}
			&.site-nav_list{
				&-sim {
					display: none;
					@include breakpoint(horse) {
						display: block;
					}
				}
			}
		}
	}
}