.site-style {
  position: relative;
  padding: 0;
  .left-block {
    padding: 20px 25px;
    position: relative;
    z-index: 1;
    @include breakpoint(horse) {
      width: 35%;
      height: 573px;
      padding: 0;
      &::before {
        content: "";
        position: absolute;
        left: -355px;
        top: 0;
        transform: skew(-32deg);
        background-image: linear-gradient(-180deg,#bcbec0 0,#fff 50%,#bcbec0 100%);
        width: 620px;
        height: 100%;
        z-index: 2;
        //box-shadow: 10px 5px 15px rgba(0,0,0,.5);
        box-shadow: 10px 0 5px -2px rgba(0,0,0,0.5);
      }
      &::after {
        content: "";
        position: absolute;
        left: -528px;
        top: 0;
        transform: skew(-32deg);
        background-image: linear-gradient(to bottom,#e6e6e6 0,#fff 100%);
        width: 783px;
        height: 100%;
        z-index: 2;
      }
    }
    .content-wrapper {
      position: relative;
      z-index: 3;
      padding-top: 80px;
      p{
        @include breakpoint(horse) {
          padding: 0 20px 30px 0;
          max-width: 184px;
        }
      }
    }
  }
  .bg-block {
    @include clearfix;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    @include breakpoint(horse) {
      position: absolute;
      width: 95%;
      height: 573px;
      left: 3vw;
    }
    @include breakpoint(elephant) {
      left: 4vw;
    }
    @include breakpoint(whale) {
      left: 9vw;
    }
    @include breakpoint(2150px) {
      left: 22.5vw;
    }
    .block__picture {
      background-image: url('../../images/galeria-mobile.png');
      width: 2048px;
      height: 573px;
    }
    img {
      max-width: inherit;
      height: 100%;
      @include breakpoint(horse) {
        position: absolute;
        left: 90px;
      }
    }
  }
  .ps__rail-x {
    margin-left: 50%;
    bottom: 15px;
    @include breakpoint(horse) {
      bottom: 50px;
    }
  }
}