.site-map{
	padding: 60px 0 0 0;
	h2{
		margin-left: 20px;
		@include breakpoint(horse) {
			text-align: center;
		}
	}
	&_pic{
		width: 100%;
		margin-bottom: 10px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&_address{
		@include gotham(400);
		text-align: center;
		display: block;
		margin: 10px auto 0 auto;
		font-size: 14px;
		color: $color_gray;
		letter-spacing: 0;
		line-height: 20px;
		max-width: 226px;
		@include breakpoint(horse) {
			max-width: none;
		}
	}
	&_achievement{
		width: 77vw;
		margin: 0 auto;
		&-cyrela, &-yoo{
			text-align: center;
			display: inline-block;
			margin: 0 auto;
			width: 37vw;
		}
	}
}